

.scrollWhiteTitle {
animation: myfirsrunWhiteTitle  0.5s linear  alternate;
}
.scrollWhiteTextTop {
    animation: myfirsrunWhiteTop 0.5s linear alternate;
}
.scrollWhiteTextBottom {
    animation: myfirsrunWhiteTextBottom 0.5s linear alternate;
}
.scrollWhiteTextLeft {
    animation: myfirsrunWhiteTextLeft 0.5s linear alternate;
}
.scrollWhiteTextRight {
    animation: myfirsrunWhiteTextRight 0.5s linear alternate;
}
.scrollBlackTitle {
    animation: myfirsrunBackTitle 0.5s linear  alternate;
}

.scrollBlackTextTop {
    animation: myfirsrunBackTop 0.5s linear alternate;
}

.scrollBlackTextBottom {
    animation: myfirsrunBackTextBottom 0.5s linear alternate;
}

.scrollBlackTextLeft {
    animation: myfirsrunBackTextLeft 0.5s linear alternate;
}

.scrollBlackTextRight {
    animation: myfirsrunBackTextRight 0.5s linear alternate;
}

@keyframes myfirsrunWhiteTitle {
    0% {
            transform: rotateX(90deg) rotate(15deg);
            color: rgba(255, 255, 255, 10%);
        }
    
        50% {
            transform: rotateX(50deg) rotate(7deg);
            color: rgba(255, 255, 255, 50%);
        }
        100% {
            transform: rotateX(0deg) rotate(0deg);
            color: rgba(255, 255, 255, 100%);
        }
}
@keyframes myfirsrunWhiteTextBottom {
    0% {
            margin-bottom: -30px;
            color: rgba(255, 255, 255, 10%);
        }
        50% {
    margin-bottom: -15px;
            color: rgba(255, 255, 255, 50%) ;
        }
        100% {
            margin-bottom: -0px;
            color: rgba(255, 255, 255, 100%) ;
        }
}
@keyframes myfirsrunWhiteTextTop {
    0% {
        transform: rotateX(90deg);
        color: rgba(255, 255, 255, 10%);
    }

    50% {
        transform: rotateX(45deg);
        color: rgba(255, 255, 255, 50%) ;
    }

    100% {
        transform: rotateX(0deg);
        color: rgba(255, 255, 255, 100%);
    }
}
@keyframes myfirsrunWhiteTextLeft {
    0% {
       margin-left: -30px;
        color: rgba(255, 255, 255, 10%);
    }
    50% {
        margin-left: -15px;
        color: rgba(255, 255, 255, 50%);
    }

    100% {
        margin-left: 0px;
        color: rgba(255, 255, 255, 100%);
    }
}
@keyframes myfirsrunWhiteTextRight {
    0% {
        margin-right: -30px;
        color: rgba(255, 255, 255, 10%);
    }

    50% {
        margin-right: -15px;
        color: rgba(255, 255, 255, 50%);
    }

    100% {
        margin-right: 0px;
        color: rgba(255, 255, 255, 100%);
    }
}
@keyframes myfirsrunBackTitle {
    0% {
        transform: rotateX(90deg) rotate(15deg);
        color: rgba(255, 255, 255, 10%);
    }

    50% {
        transform: rotateX(50deg) rotate(7deg);
        color: rgba(255, 255, 255, 50%);
    }

    100% {
        transform: rotateX(0deg) rotate(0deg);
        color: rgba(255, 255, 255, 100%);
    }
}

@keyframes myfirsrunBlackTextBottom {
    0% {
        margin-bottom: -30px;
        color: rgba(255, 255, 255, 10%);
    }

    50% {
        margin-bottom: -15px;
        color: rgba(255, 255, 255, 50%);
    }

    100% {
        margin-bottom: -0px;
        color: rgba(255, 255, 255, 100%);
    }
}

@keyframes myfirsrunBackTextTop {
    0% {
        transform: rotateX(90deg);
        color: rgba(255, 255, 255, 10%);
    }

    50% {
        transform: rotateX(45deg);
        color: rgba(255, 255, 255, 50%);
    }

    100% {
        transform: rotateX(0deg);
        color: rgba(255, 255, 255, 100%);
    }
}

@keyframes myfirsrunBackTextLeft {
    0% {
        margin-left: -30px;
        color: rgba(255, 255, 255, 10%);
    }

    50% {
        margin-left: -15px;
        color: rgba(255, 255, 255, 50%);
    }

    100% {
        margin-left: 0px;
        color: rgba(255, 255, 255, 100%);
    }
}

@keyframes myfirsrunBackTextRight {
    0% {
        margin-right: -30px;
        color: rgba(255, 255, 255, 10%);
    }

    50% {
        margin-right: -15px;
        color: rgba(255, 255, 255, 50%);
    }

    100% {
        margin-right: 0px;
        color: rgba(255, 255, 255, 100%);
    }
}